.title {
  max-width: 500px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #000;
  margin-bottom: 40px;
}
.img {
  margin-bottom: 60px;
}
.heading__btn {
  border-radius: 5px;
  width: 220px;
  height: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border: none;
  background-color: #4af0c5;
  color: #fff;
  font-size: 18px;
  display: block;
  margin: 0 auto;
}
.heading__btn:hover {
  background-color: #4fd6b8;
}

@media (min-width: 768px) {
  .title {
    max-width: 720px;
    text-align: center;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 80px;
  }
}
