.comments {
  padding: 80px 0;
  background-color: #f2f2f2;
  position: relative;
  min-height: 100vh;
}

.pagination__style > ul {
  align-items: center;
  justify-content: center;
  max-width: 1100px;
}
.pagination__style > ul li button {
  background-color: #fff;
}

.title {
  max-width: max-content;
  margin: 0 auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #000;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(24, 28, 39, 0.2);
}
.filter__wrapper {
  margin: 0 auto;
  margin-bottom: 80px;
  width: 280px;
  display: flex;
  justify-content: center;
  color: rgba(24, 28, 39, 0.4);
}
.add__btn {
  position: fixed;
  border-radius: 50%;
  border: none;
  background-color: #24cca7;
  width: 44px;
  height: 44px;
  right: 30px;
  bottom: 30px;
  color: #fff;
  font-size: 24px;
}
.add__btn:hover {
  background-color: #4fd6b8;
}

.error {
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
}

@media (min-width: 768px) {
  .comments {
    padding: 100px 0;
  }
  .title {
    text-align: center;
    font-size: 36px;
    line-height: 60px;
  }
}

@media (min-width: 1200px) {
  .add__btn {
    width: 60px;
    height: 60px;
    right: 50px;
    bottom: 50px;
    font-size: 34px;
  }
}
