.title {
  max-width: max-content;
  margin: 0 auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #000;
  margin-bottom: 40px;
  border-bottom: 2px solid rgba(24, 28, 39, 0.5);
}

.list {
  margin: 0 auto;
  max-width: 480px;
}

@media (min-width: 768px) {
  .comments {
    padding: 80px 0;
  }
  .title {
    text-align: center;
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 80px;
  }
}

@media (min-width: 992px) {
  .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 900px;
  }
}
