.list {
  margin: 0 auto;
  max-width: 480px;
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 900px;
  }
}
