.header {
  background-color: #0455bf;
  background-size: cover;
  padding: 30px 0;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo__wrapper {
  width: 100%;
  margin-bottom: 30px;
}

.header__btn {
  border-radius: 5px;
  width: 220px;
  height: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border: none;
  background-color: #24cca7;
  color: #fff;
}

.header__btn:hover {
  background-color: #4fd6b8;
}

@media (min-width: 768px) {
  .header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .logo__wrapper {
    width: auto;
    margin-bottom: 0;
  }
}
